*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

lib/hindb\303\246r.rb

lib/hindb\303\246r.rb

lib/hindb\303\246r.rb
